html, body {
  height: 100%;
  background-color: #1e2129;
}

p {
  padding: 0px !important;
  margin: 0px !important;
}

.height-100 {
  height: 100%;
}

.container {
  background: #f0f0f0;
  height: 100%;
  box-shadow: 0 0 10px #0f1115;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  height: auto;
  min-height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px;
}

.container-mensagem{
  padding: 5px 20px;
}
.no-padding{
  padding: 0 !important;
}
.botao-enviar {
  width: 60px;
  height: 100%;
  border: 0px;
  background-color: #16191f;
  color: #FFF;
  font-size: 19px;
  float: right;
  outline: none;
}
.botao-enviar:active {
  background-color: #eb1053;
}
.campo-mensagem {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
  height: 100%;
  border: none;
  border: 0px;
  background-color: transparent;
  padding: 0 15px;
  color: #FFF;
  float: left;
  outline: none;
}
.container-escrever {
  background-color: #1e2129;
  height: 50px;
  bottom: 0;
  width: 100%;
  margin: 0px;
  position: absolute;
}
.radius {
  width: 60%;
  border-radius: 100px;
  border:1px solid #d4d4d4;
}
.mensagem {
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #d4d4d4;
  font-size: 15px;
}
.mensagem.cinbot { float:left; background-color: #eb1053; color: #FFF; }
.mensagem.user { background-color: #d4d4d4; }

.mensagem.cinbot.horizontal {
  width: 100%;
  float: none;
  clear: both;
}
.row-horizon {
  margin-top: 10px;
}

.mensagem.user .id{
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.mensagem.cinbot .id{
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.mensagem.cinbot .btn.btn-default {
  margin-top: 5px;
  background-color: #b91245;
  color: #fff;
  font-size: 12px;
  border: 0px;
}

.mensagem.cinbot .box {
  background: #fff;
  margin: 0 5px;
  padding: 10px;
  color: #424242 !important;
  font-size: 13px;
  border-radius: 3px;
}

.mobile-display {
  display: none;
}

.container-conteudo{
  width: 100%;
  height: 100%;
  overflow: auto;
  height: auto;
  min-height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 15px;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: #eb1053;
    font-size: 10px;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary.sugestao {
    color: #646464;
    font-size: 10px;
}


@media (max-width: 991px) {

  .mobile-display {
    display: block;
  }

  html, body {
    height: 100%;
    background-color: #1e2129;
    padding: 0;
  }
  .container {
    border-radius: 0;
  }

  .scroll {
    min-height: calc(100% - 90px);
    max-height: calc(100% - 90px);
  }

  .container-menu {
    display: none;
  }

  .mensagem.cinbot.horizontal {
    width: 100%;
    float: none;
    clear: both;
  }

}
