.container-menu {
  background-color: #1b1e24;
  height: 100%;
}
.container-menu a {
  background-color: green;
  text-decoration: none;
  color: #fff;
}
.container-menu i, .nav.navbar-nav i {
  margin-right: 8px;
}
.container-menu li {
  padding: 20px 15px;
  list-style-type: none;
  margin-left: -40px;
  border-bottom: 1px solid #1e2129;
}

.container-menu li:hover {
  background-color: #eb1053;
}

@media (max-width: 991px) {

  /* Override */
  .navbar-default {
    background-color: #1b1e24;
    border-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
       background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: transparent;
  }
  .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
  }

}
