<div ng-include="'app/views/navbar.html'"></div>
<div class="scroll" id="scroll" scroll-glue-bottom="glued">
  <div ng-repeat="mensagem in mensagens" class="container-mensagem">

    <div ng-if="mensagem.tipo =='cinbot'" class="containerMensagem row animated fadeIn">
      <div class="col-xs-10 no-padding">
        <div class="mensagem cinbot">
          <p class='id'>CIn bot:</p>
          <p>{{mensagem.texto}}</p>
        </div>
      </div>
      <div ng-if="mensagem.sugestoes.length > 0" class="col-xs-10 no-padding row-horizon">
        <md-button class="md-primary sugestao">Sugestões:</md-button>
        <md-button ng-repeat="sugestao in mensagem.sugestoes"  ng-click="enviarMensagem(sugestao.titulo)" class="md-primary">{{sugestao.titulo}}</md-button>
      </div>
    </div>

    <div ng-if="mensagem.tipo =='user'" class="containerMensagem row animated fadeIn">
      <div class="col-xs-12 no-padding">
        <div class="mensagem user pull-right">
          <p class='id'>Você:</p>
          <p>{{mensagem.texto}}</p>
        </div>
      </div>
    </div>

    <div ng-if="mensagem.tipo =='cinbot-noticias'" class="containerMensagem row  animated fadeIn mensagem cinbot horizontal">
      <p class='id'>CIn bot:</p>
      <div class="row-horizon">
        <div class="col-xs-8 box" ng-repeat="noticia in mensagem.noticias" ng-click="openUrlNewTab(noticia)">
          <p>{{noticia.titulo}}</p>
        </div>
      </div>
    </div>

    <div ng-if="mensagem.tipo =='cinbot-eventos'" class="containerMensagem row  animated fadeIn mensagem cinbot horizontal">
      <p class='id'>CIn bot:</p>
      <div class="row-horizon">
        <div class="col-xs-8 box" ng-repeat="evento in mensagem.eventos" ng-click="openUrlNewTab(evento)">
          <p><b>{{evento.data}}</b> - {{evento.titulo}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row container-escrever">
  <form ui-keypress="{13:'enviarMensagem($event)'}" class="height-100">
    <input class="campo-mensagem" type="text" placeholder="Escreva a sua mensagem..." ng-model="input.mensagem">
    <button type="submit" class="botao-enviar" ng-click="enviarMensagem()">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
    </button>
  </form>
</div>
