<div class="nav">
  <md-menu md-offset="0 -7">
    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon md-menu-origin class="glyphicon glyphicon-menu-hamburger" style="font-size:20px" aria-hidden="true"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item ng-repeat="url in urls">
        <md-button ng-click="openUrl(url)"> <span md-menu-align-target>{{url.nome}}</span></md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
